
img {
  width: 50%;
  display: block;
  margin: auto;
}

body {
  background-color: rgb(244, 192, 237);
  text-align: center;
}

main {
  margin-right: 30px;
  margin-left: 30px;
  margin-top: 10px;
  background-color: rgb(255, 212, 235);
  border-radius: 25px;
}

header {
  text-shadow: 2px 5px 2px rgb(161, 161, 161);
  color: rgb(207, 192, 114);
  text-decoration: none;
}

a:link { 
  text-decoration: none; 
  color: rgb(255, 251, 247);
} 
a:visited { 
  text-decoration: none; 
  color: rgb(246, 255, 196);
} 
a:hover { 
  text-decoration: none; 
  color: rgb(226, 247, 159);
} 
a:active { 
  text-decoration: none; 
  color: rgb(255, 135, 251);
}
