
img {
  width: 50%;
  max-height: 30%;
  display: block;
  margin: auto;
  border-radius: 20px;
}

body {
  background-color: rgb(244, 192, 237);
  text-align: center;
}

main {
  margin-right: 30px;
  margin-left: 30px;
  margin-top: 10px;
  background-color: rgb(255, 212, 235);
  border-radius: 25px;
}

header {
  text-shadow: 2px 5px 2px rgb(161, 161, 161);
  color: rgb(207, 192, 114);
  text-decoration: none;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

a:link { 
  text-decoration: none; 
  color: rgb(68, 137, 60);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
} 
a:visited { 
  text-decoration: none; 
  color: rgb(81, 216, 48);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
} 
a:hover { 
  text-decoration: none; 
  color: rgb(178, 235, 255);
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
} 
a:active { 
  text-decoration: none; 
  color: rgb(255, 135, 251);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

form {
  text-shadow: 3px 3px 2px rgb(161, 161, 161);
}
