
img {
  width: 50%;
  display: block;
  margin: auto;
}

body {
  background-color: rgb(244, 192, 237);
  text-align: center;
}

main {
  margin-right: 30px;
  margin-left: 30px;
  margin-top: 10px;
  background-color: rgb(255, 212, 235);
  border-radius: 25px;
}
